/* src/index.css */

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

table {
  border: 1px solid black; /* Устанавливает черную границу для таблицы */
  border-collapse: collapse; /* Убирает промежутки между ячейками */
}

th, td {
  border: 1px solid black; /* Устанавливает черную границу для ячеек */
  padding: 8px; /* Добавляет отступы в ячейки */
  text-align: left; /* Выравнивание текста по левому краю */
}