.list{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.liPart{
    min-width: 70px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    background-color: white;
}
.text{
    font-size: small;
}
.isOnline{
    color:green;
}
.isOffline{
    color: red;
}